<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseUrl" value="http://127.0.0.1:8080"/>
    <add key="checkUserUrl" value="/testing/api/CheckUser/"/>
    <add key="getUserUrl" value="/testing/api/GetUser/"/>
    <add key="getTestUrl" value="/testing/api/GetTest/"/>
    <add key="database" value="local"/>
  </appSettings>
</configuration>